body {
    font-family: 'Poppins', sans-serif;
    background-color: #F7F1F4;
    color: #333;
  }
  
  /* HEADER */
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
    background: #F7F1F4;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
    position: relative;
    z-index: 10;
  }
  
  .logo {
    font-family: "Outfit", sans-serif;
    font-size: 32px;
    font-weight: 800;
    color: #6d5d9c;
  }
  
  .menu {
    display: flex;
    list-style: none;
    gap: 24px;
  }
  
  .menu a {
    color: #4C3273;
    text-decoration: none;
    padding: 10px 12px;
    border-radius: 8px;
    transition: background 0.3s ease;
    font-size: 18px;
    font-weight: 600;
  }
  
  .menu a:hover {
    background-color: #4C3273;
    color: #F7F1F4;
  }
  
  /* Mega Menu */
  .has-mega-menu {
    position: relative;
  }
  
  .mega-menu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background: #F7F1F4;
    padding: 20px;
    border-radius: 10px;
    gap: 30px;
    z-index: 20;
  }
  
  .mega-menu a {
    color: #555;
    display: block;
    margin-bottom: 6px;
  }
  .mega-menu a:hover{
    background-color: #F7F1F4;
    color: #6D5087;
    display: block;
    margin-bottom: 6px;
  }
  
  .has-mega-menu:hover .mega-menu {
    display: flex;
  }